<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie21</title>
    <link rel="stylesheet" href="Scripts/CSS/styles.css">
</head>
<body>
    <div id="sidebar">
        <center><h3>Pie21</h3></center>
        <a href="index.html" class="movie-button">Home</a>
    </div>

    <div id="content">

    </div>

    <script src="Scripts/JS/hideSidebar.js"></script>
    <script src="Scripts/JS/main.js"></script>
</body>
</html>
